.sensor-data-field:hover {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);
}

.sensor-data-field {
    max-width: 33rem;
    overflow-wrap: break-word;
    font-size: 0.9rem;
}

.popup-content {
    max-width: 35rem;
    background: white;
    padding: .5rem .75rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px;
    border-radius: 0.3rem;
    color: #212529;
    font-size: .875rem;
}

.popup-arrow {
    color: white;
    
}
